.collapsible {
  padding: 2px;
  margin: 2px;
  border: 1px solid #e6bf00;
}

.level-0 {
  background: #ffd500;
}

.level-1 {
  background: #ffe666;
}

.level-2 {
  background: #fe9;
}

.level-3 {
  background: #fff2b3;
}

.level-4 {
  background: #fff6cc;
}

.collapsible-header {
  padding: 5px;
  cursor: pointer;
  font-weight: 700;
}

.collapsible-body {
  padding: 10px;
}
